@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap');

:root {
  --padding: 20px 15px;
  --bright-orange: #F16718;
  --dark-orange: #ff6004;
  --pale-orange: #FF9B62;
  --navy-blue: #162542;
  --pale-blue: #7B8BAD;
  --light-gray: #E8EFF2;
  --white: #FFFFFF;
  --attr-color: #10809c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  color: inherit;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}
