.hero {
  flex-wrap: wrap;
}

.hero__content {
  max-width: 375px;
  flex-direction: column;
  gap: 18px;
  padding: var(--padding);
}

.hero__cta-wrap {
  display: inline-flex;
  justify-content: space-between;
}

.hero__cta-btn {
  background-color: var(--bright-orange);
  color: var(--white);
}

.hero__cta-btn:hover {
  background-color: var(--pale-orange);
}

.hero__cta-text {
  font-weight: 600;
  text-transform: uppercase;
}

.hero__img-wrap {

  margin-top: 15px;
  overflow: hidden;
  padding-right: 0;
}

.hero__img {
  transform: translateX(6%);
  border-radius: 20px;
  max-width: 375px;
}
