.hero {
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media screen and (min-width: 700px) {
  .hero {
    flex-wrap: nowrap;
  }
}

.hero__content {
  flex-direction: column;
  max-width: 95%;
  gap: 18px;
  margin-bottom: 2em;
}

.hero__text {
  flex-direction: column;
  max-width: 90%;
  margin: 0 15px;
}

.hero__cta-wrap {
  display: inline-flex;
  justify-content: space-between;
  max-width: 90%;
  padding: 0 1em;
}

.hero__cta-btn {
  background-color: var(--bright-orange);
  color: var(--white);
}

.hero__cta-btn:hover {
  background-color: var(--pale-orange);
}

.hero__cta-text {
  font-weight: 600;
  text-transform: uppercase;
}

.hero__img-wrap {
  margin-top: 15px;
  overflow: hidden;
  padding-right: 0;
}

.hero__img {
  transform: translateX(6%);
  border-radius: 20px;
  max-height: 600px;
  object-fit: cover;
}
