.flex {
  display: flex;
}

body {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  color: var(--navy-blue);
  font-weight: 900;
}

h1 {
  font-size: 3em;
  line-height: 100%;
}

h2 {
  font-size: 2em;
  line-height: 36px;
}

h3 {
  font-size: 1.5em;
  line-height: 28px;
}

p {
  color: var(--pale-blue);
  text-transform: none;
  font-weight: 400;
  line-height: 26px;
}

button {
  font-weight: 600;
  text-transform: uppercase;
  width: 150px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
}

.main {
  flex-direction: column;
  gap: 1em;
}

/* Header */
.header {
  justify-content: space-between;
  padding: var(--padding);
}

.header__cta-btn {
  background-color: var(--light-gray);
}

.header__cta-btn:hover {
  background-color: var(--navy-blue);
  color: var(--white);
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery__text {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3em;
  margin-inline-start: 1.5em;
  padding: 10px 20px;
}

.gallery__imgs {
  display: inline-flex;
  width: 100%;
  align-items: center;
  overflow-x: hidden;
  padding-right: 1.5em;
}

.gallery__imgs picture img {
  border-radius: 20px;
}

.gallery__img-1-wrap {
  position: relative;
  transform: translateX(-25%);
}

.gallery__img-1-wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bright-orange);
  border-radius: 20px;
}

.gallery__img-1 {
  mix-blend-mode: multiply;
}

/* Features */
.features {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--padding);
  margin: 0 1.5em;
}

.features img {
  width: 65px;
}

.features h3 {
  width: 50%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.features p {
  margin-block-start: 0;
}

/* Footer */
.footer {
  color: var(--pale-blue);
  text-align: center;
  text-transform: none;
  font-weight: 400;
  padding-bottom: 30px;
}

.footer span {
  font-weight: 500;
}
