@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap');

:root {
  --padding: 20px 15px;
  --bright-orange: #F16718;
  --dark-orange: #ff6004;
  --pale-orange: #FF9B62;
  --navy-blue: #162542;
  --pale-blue: #7B8BAD;
  --light-gray: #E8EFF2;
  --white: #FFFFFF;
  --attr-color: #10809c;
}

.flex {
  display: flex;
}

/* Tag selectors */
body {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  color: var(--navy-blue);
  font-weight: 900;
}

h1 {
  font-size: 3em;
  line-height: 100%;
}

h2 {
  font-size: 2em;
  line-height: 36px;
}

h3 {
  font-size: 1.5em;
  line-height: 28px;
  margin-block-end: 0;
}

p {
  color: var(--pale-blue);
  text-transform: none;
  font-weight: 400;
  line-height: 26px;
}

button {
  font-weight: 600;
  text-transform: uppercase;
  width: 150px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
}

.main {
  flex-direction: column;
  gap: 32px;
}

/* Header */
.header {
  justify-content: space-between;
  padding: var(--padding);
}

.header__cta-btn {
  background-color: var(--light-gray);
}

.header__cta-btn:hover {
  background-color: var(--navy-blue);
  color: var(--white);
}

/* Gallery */
.gallery__imgs {
  display: inline-flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  gap: 25px;
  transform: translateX(-6%);
}

.gallery__imgs picture img {
  border-radius: 20px;
}

.gallery__img-1-wrap {
  position: relative;
}

.gallery__text {
  width: 90%;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  padding: var(--padding);
}

/* Features */
.features {
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--padding);
}

.features img {
  width: 65px;
}

.features h3 {
  width: 50%;
}

.footer {
  color: var(--pale-blue);
  text-align: center;
  text-transform: none;
  font-weight: 400;
  padding-bottom: 30px;
}

.footer span {
  font-weight: 500;
}

/* TODO Image overlay */
.gallery__img-1-wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-orange);
  border-radius: 20px;
}

.gallery__img-1 {
  opacity: .4;
}
