@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap');

:root {
  --bright-orange: #F16718;
  --pale-orange: #FF9B62;
  --navy-blue: #162542;
  --pale-blue: #7B8BAD;
  --light-gray: #E8EFF2;
  --white: #FFFFFF;
  --attr-color: #10809c;
}

/* Tag selectors */
body {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px;
}

h1,
h2,
h3 {
  color: var(--navy-blue);
  font-weight: 900;
}

h1 {
  font-size: 3em;
  line-height: 100%;
}

h2 {
  font-size: 2em;
  line-height: 36px;
}

h3 {
  font-size: 1.5em;
  line-height: 28px;
}

p {
  color: var(--pale-blue);
  text-transform: none;
  font-weight: 400;
  line-height: 26px;
}

button {
  font-weight: 600;
  text-transform: uppercase;
  width: 150px;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
}

/* Containers */

.header,
.main,
.footer {
  padding: 20px 15px;
}

/* Header rules */
.header {
  display: flex;
  justify-content: space-between;
}

.header__cta-btn {
  background-color: var(--light-gray);
}

.header__cta-btn:hover {
  background-color: var(--navy-blue);
  color: var(--white);
}

/* Hero rules */

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.hero__cta-wrap {
  display: inline-flex;
  gap: 48px;
}

.hero__cta-btn {
  background-color: var(--bright-orange);
  color: var(--white);
}

.hero__cta-btn:hover {
  background-color: var(--pale-orange);
}

.hero__cta-text {
  font-weight: 600;
  text-transform: uppercase;
}
