.hero {
  justify-content: flex-end;
}

.hero__content {
  padding: 0 1em;
}

.hero__cta-wrap {
  margin-top: 1em;
  margin-left: 1em;
}

.gallery {
  padding: 0 1em;
  max-width: 95%;
  justify-content: center;
}

.gallery__text {
  flex-direction: row;
  justify-content: space-evenly;
  text-align: start;
  margin-inline-start: 0;
}

.gallery__title {
  width: 100%;
}

.gallery__imgs {
  transform: none;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  padding-right: 0;
  margin-top: 1em;
  margin-left: 1em;
}

.gallery__img-1-wrap {
  transform: none;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

.feature {
  max-width: 300px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}
